 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>
 
<!-- main content
<main class="container">
<div class="jumbotron">
  <h1 class="display-4">Welcome to the <%= title %> page</h1>
</div>
</main> -->
<div id="welcome">
Welcome to MD Faiaz Portofolio Website<br><br>
This is my first professional Website Displaying portfolio<br> 
If you feel like leaving a comment or want to recruit me Please leave a message.
    </div>
    <div id="mission">
         Mission statement<br>
         <br>
        "In Todays world we live in a paradox you can't get a job without experience and you can't experience without a job"
    </div>
<div id="button">
    <button type="submit" class="btn btn-primary" id="directButton" style="WIDTH: 70%; HEIGHT: 50pt; font-size:20px">MD Faiaz's Description </button>
    </div>

 

 <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>
  
