

 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>

<div id=project1>
<img id="specification0"src="assets/specificatipn2.PNG">
<img id="specification1"src="assets/specification3.PNG">

<div id=short1>
    <br><br><br>
   <h2 style="color: bisque;">Short discription</h2>
  <h2 style="color: bisque;"> </h2>I created a visualization of a Grocery store app 
   <br>
     

</div>
</div>
<div id="project2">
    <img id="specification2" src="assets/download.jpg" height="50px" width="440px">
    <div id=short2>
        <h2 style="color: bisque;">Short discription</h2>
       <h3 style="color: bisque;">
        I created an Android Studio game project and Published it in the app store. <br>
        I have spent atleast 200 hours trying to figure out how to debug and make the graphics look appealing for UI design. </h2> 

    </div>





    
</div>
<div id="project3">
    <img id=web1 src="assets/ziradesign.jpg" height="1550px" width="400px">
    <img id=web2 src="">
    <img id=web3 src="">

    <div id="short3"><br>
        <h3 style="color: bisque;"> Short description</h3>
        <h4 style="color: bisque;"> 
This project uses Zira an agile methodology to implement the incremental model or the Waterfall model to build software.
</div>
        </h4>T

</div>   
   
 <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>