

 <%- include('partials/header.ejs') %>
 <%- include('partials/main_nav.ejs') %>
 <%- include('partials/content.ejs') %>


<div id="dis">
    <h2 style="color: brown;">Responsive Website Development</h2>
</div>
      <img id="pics" src="assets/responsedesign.jpg">

      <br><br><br>
    
      <div id="dis">
<h2 style="color: brown;">Graphical User Interface(GUI) PROGRAMMING</h2>
        <img id="pics" src="assets/webdesign.jpg"><br><br><br><br>
          
      </div>

<div id="dis">
<br><br><br>
    <h2 style="color: brown;">Mobile App Development</h2>


</div>
      <img id="pics" src="assets/mobileappdesign.jpg">
      

<div id="dis">

    <h2 style="color: brown;">Software Engineering</h2>
</div>
      <img id="pics" src="assets/Software.jpg">
      <br>
      <br><br>br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br>

    <br>
    <br>



      <%- include('partials/bottom_nav.ejs') %>
 <%- include('partials/footer.ejs') %>